
  <p>
    <!-- <a href="/signup" class="btn btn-primary">Please Sign Up</a> -->
    <!-- refactored with rails helpers: -->
    <%= link_to "Sign Up", signup_path, class: "btn btn-primary" %>
    &nbsp; or &nbsp;
    <%= link_to "Log In", login_path, class: "btn btn-primary" %>
  </p>
<div class="col-sm-4 col-sm-offset-4">
<%= form_for :post, url: "/posts", method: "post" do |f| %>
  <%= f.text_field :title %>
  <%= f.submit "save post" %>
  <% end %>
</div>