<!-- JUMBOTRON -->
<div class="jumbotron">
  <div class="text-center">
    <h1 class="animated fadeIn">Best In The Land</h1>
    <h2>Find, create, and vote for the best things</h2>
  </div>
</div>

<!-- SEARCH FOR POSTS -->
<div class="container text-center">
  <div class="form-inline">
    <span>
      <%= form_tag posts_path, { method: "get", :class => 'navbar-form', :role => 'search'} do %>
      <%= text_field_tag :search, params[:search], required: true, autocomplete: 'off', class: 'searchform', :autofocus => true %>
      <button class="btn" type="submit" id="searchbtn">search</button>
    </span>
    <% end %>
  </div>
  <div id="searchGuide">Search for a category name to find the best item.  For example, you could search for "burrito" or "swing dance class".
  </div>
</div>
<hr>

<!-- DISPLAY POSTS -->
<div class="row">
  <div class="col-sm-4">
    <h3 class=" text-center col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1 status">Active</h3>
    <% @activeposts.each do |post| %>
    <div class="list-group text-center">
      <div><%= button_to post.title, post, class: " results postResults col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1", method: "get" %><br>
      </div>
    </div>
    <% end %>
  </div>

  <div class="col-sm-4">
    <h3 class=" text-center col-xs-10 col-xs-offset-1 col-sm-12 col-md-10 col-md-offset-1 status">New</h3>
    <% @newposts.each do |post| %>
    <div class="list-group text-center">
      <div><%= button_to post.title, post, class: " results postResults col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1", method: "get" %><br>
      </div>
    </div>
    <% end %>
  </div>

  <div class="col-sm-4">
    <h3 class=" text-center col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1 status">Popular</h3>
    <% @popularposts.each do |post| %>
    <div class="list-group text-center">
      <div><%= button_to post.title, post, class: " results postResults col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1", method: "get" %><br>
      </div>
    </div>
    <% end %>
  </div>
</div>

<br>
<br>

<!-- FOOTER -->
<div class="footer">
  <div class="container">
    <div class="row text-center">
      <h4 id="foot">Built by <a href='https://www.linkedin.com/in/costajohnt' target="_blank">John Costa</a>- San Francisco, CA 2015 </h4>
    </div>
  </div>
</div>