<div class="row" id="resultsPad"></div>
<div class="container-fluid" id="resultsItem">
	<% @posts.each do |post| %>
	<div class="list-group text-center">
	<div><%= button_to post.title, post, class: "results well btn col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3", method: "get" %><br>
		</div>
	</div>
	<% end %>
</div>

<% if @posts.empty? %>
<h1 class="text-center">Sorry, the search returned no results for "<%= params[:search] %>".</h1>
<br>
<div class="col-sm-4 col-sm-offset-4">
<div class="col-sm-offset-3">
	<%= form_for :post, url: "/posts", method: "post" do |f| %>
	<%= f.hidden_field :title, value: params[:search] %>
	<%= f.submit "create?", class: "postCreate btn btn-primary" %>
	<% end %>
</div>
</div>
<% end %>