<div class="container-fluid">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<ul class="list-group">
				<li class="list-group-item text-center">
					<span><%= @post.title %><%= button_to "Delete", @post, method: :delete, class: 'btn btn-primary' %></span>
				</li>
			</ul>

			<div class="form-inline">	
				<%= form_for [@post, @comment] do |f| %>
				<%= f.text_field :title, class: 'form-control' %>
				<%= f.text_field :location, class: 'form-control' %>
				<%= f.hidden_field :post_id, :value => @post.id %>
				<%= f.hidden_field :user_id, :value => @user.id %>
				<%= f.submit "savecomment", class: 'btn btn-primary' %>
				<% end %>
			</div>
<div>
			<% @comments.each do |comment| %>
			<div>
				Title: <%= comment.title %> <br>
				Location: <%=  comment.location %>
				<%= button_to "Delete", post_comment_path(@post, comment), method: :delete %>
			</div>
			<%= link_to like_comment_path(comment), method: :put do %>
			  Upvote
			  <%= comment.get_upvotes.size %>
			<% end %>

			<%= link_to dislike_comment_path(comment), method: :put do %>
			  Downvote
			  <%= comment.get_downvotes.size %>
			<% end %>
			<% end %>
			</div>
		</div>
	</div>
</div>