<!-- NAVBAR FOR POSTS#SHOW CUSTOM -->
<nav id="showNav" class="navbar navbar-custom">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<a class="logo navbar-brand" id="home" href="/">Best in the Land</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="#" id="">
			<ul class="nav navbar-nav navbar-right">
				<li id="postTitle"><%= @post.title %></li>
				<% if current_user.present? %>  
				<li><%= link_to "#{current_user.email}" %></li>
				<li><%= link_to "Log out", logout_path %></li>
				<% else %> 
				<li><%= link_to "Sign Up now or", signup_path %></li>
				<li><%= link_to "Log in", login_path %></li>
				<% end %> 
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>

<!-- FORM FOR CREATING A NEW COMMENT -->
<div class="container-fluid">
	<div class="col-sm-6 col-sm-offset-3">
		<div class="form-group">	
			<%= form_for [@post, @comment] do |f| %>
			<div class="form-group">
				<%= f.text_field :title, class: 'commentform', autocomplete: 'off', placeholder: 'What?', required: true, :autofocus => true %>	
			</div>
			<div class="form-group">
				<%= f.text_field :location, class: 'commentform', autocomplete: 'off', placeholder: 'Where?' %>	
			</div>
			<div class="text-right">
				<%= f.submit "save", class: 'btn btn-primary' %>	
			</div>

			<% end %>
		</div>
		<br>
		<br>

		<ul class="list-group">
			<% Comment.order(:cached_votes_up).each do |comment| %>
			<li class="list-group-item clearfix">
				<div class="col-xs-10">
					<h4><%= comment.title %></h4> 
					<div class="text-muted"><%=  comment.location %></div>	
					<div class="text-right">
						<small><%= link_to "Delete", post_comment_path(@post, comment), method: :delete %></small>	
					</div>
				</div>
				<div class="col-xs-2">
					<%= link_to like_comment_path(comment), method: :put do %>
					<i class="fa fa-caret-up"></i>
					<%= comment.get_upvotes.size %>
					<% end %>
					<br>
					<%= link_to dislike_comment_path(comment), method: :put do %>
					<i class="fa fa-caret-down"></i>
					<%= comment.get_downvotes.size %>
					<% end %>	
				</div>
			</li>
			<% end %>
		</ul>
	</div>
</div>


<!-- <div class="col-sm-8 col-sm-offset-2"> -->
		<!-- 	<ul class="list-group">
				<li class="list-group-item text-center">
					<span><%= @post.title %><%= button_to "x", @post, method: :delete, class: 'btn btn-primary' %></span>
				</li>
			</ul> -->
			<!-- 	</div> -->







