<nav id='nav' class="navbar navbar-custom">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="logo navbar-brand" id="home" href="/">Best in the Land</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="#" id="">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user.present? %>  
        <li><%= link_to "#{current_user.email}" %></li>
        <li><%= link_to "Log out", logout_path %></li>
        <% else %> 
        <li><%= link_to "Sign Up now or", signup_path %></li>
        <li><%= link_to "Log in", login_path %></li>
        <% end %> 
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


  <p>
  <!--   <a href="/signup" class="btn btn-primary">Please Sign Up</a> -->
    <!-- refactored with rails helpers: -->
<!--     <%= link_to "Sign Up", signup_path, class: "btn btn-primary" %>
    &nbsp; or &nbsp;
    <%= link_to "Log In", login_path, class: "btn btn-primary" %> -->
  </p>
