<!DOCTYPE html>
<html>
<head>
  <title>Best In The Land</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag :application, media: :all %>
  <link href="/app/assets/stylesheets/custom.css">
</head>
<body>
<%= render partial: "layouts/nav" unless @disable_nav %>
  <!-- <div class="container"> -->
    <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "alert #{name == 'error' ? 'alert-danger' : 'alert-info'}" %>
    <% end %>
        <%= yield %>
  <!-- </div> -->
  <%= javascript_include_tag :application %>
  </div>
</body>
</html>